{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account info</legend>
            <div class="form-group">
                {{ form.fname.label(class="form-control-label") }}

                {% if form.fname.errors %}
                    {{ form.fname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.lname.label(class="form-control-label") }}

                {% if form.lname.errors %}
                    {{ form.lname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
<div class="jumbotron p-1" style="width: 700px;">
    <table class="table table-hover table-dark table-striped">
        <tr>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Subjects</th>
                <th>Grades</th>
                <th>Average Grade</th>
            </tr>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>
                    {% for subject in student.subjects %}
                        {{ subject.name }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% set student_grades = [] %}
                    {% for grade in grades %}
                    {% if grade.student_id == student.id %}
                    {% set _ = student_grades.append(grade.grade|float) %}
                    {{ grade.grade }}{% if not loop.last %}<br>{% endif %}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ student.average_grade }}</td>
        </tr>
    </table>
</div>
</div>

{% endblock content %}
