{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/body.css') }}">

<body class="divine">
<p class="desus">
    We offer a school administration system. Users can sign up to get an account, 
    where they can post blogs read other blogs.
</p>
<p class="desus">
    With the necessary permissions, one can also get access to use the system. Users can
    add or remove teacher or students, get access to the subjects they take and their grades
</p>
</body>
{% endblock %}
