{% extends "base.html" %}
{% block title %}Add a student{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Add new teacher</h3>
    <div class="form-group">
        <label for="fname">First Name</label>
        <input required type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input required type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="email">E-Mail address</label>
        <input required type="text" class="form-control" id="email" name="email" placeholder="Enter email address">
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input required type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}