{% extends "base.html" %}
{% block title %}Delete subject{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Delete subject</h3>
    <div class="form-group">
        <label for="name">Subject name</label>
        <input type="name" class="form-control" id="name" name="name" placeholder="Enter subject name">
    </div>
    <div class="form-group">
        <label for="subject_id">Subject I.D</label>
        <input type="subject_id" class="form-control" id="subject_id" name="subject_id" placeholder="Enter subject I.D">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>


{% endblock %}