{% extends "base.html" %}
{% block title %}Delete a teacher{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Delete a teacher</h3>
    <div class="form-group">
        <label for="fname">First Name</label>
        <input required type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input required type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="teacher_id">Teacher Id</label>
        <input required type="text" class="form-control" id="teacher_id" name="teacher_id" placeholder="Enter the teacher Id">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
{% endblock %}