{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='script/redirect.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/body.css') }}">
<div class="sticky-top">
  <a class="btn btn-info mb-4" href="{{ url_for('views.home')}}">Home</a>
  <a class="btn btn-info mb-4" href="{{ url_for('views.adblog')}}">Create Blog</a>
  <a class="btn btn-info mb-4" href="{{ url_for('views.about')}}">About</a>
</div>
        {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="">{{ post.author.first_name }}</a>
              <small class="text-muted">{{ post.created_at.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('views.post', post_id=post.blog_id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    </div>
    {% for page_num in range(1, total_pages + 1) %}
        {% if page_num %}
          {% if page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
</div>


{% endblock %}
