<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/body.css') }}">
</head>
  <body class="divine">
    <div class="text-bg-primary p-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('views.home') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('views.blog') }}">Blog</a>
            <a class="navbar-brand" href="{{ url_for('auth.login') }}">Login</a>
            <a class="navbar-brand" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
            <a class="navbar-brand" href="{{ url_for('views.about') }}">About</a>
          </div>
        </nav>
      </div>
      </div>

      <p class="desus">
        School Administration system. Sign Up for an account and gain access<br>
        to great blogs. We also offer a student grading system and a teacher Management system.
      </p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>