{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='script/redirect.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/body.css') }}">
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">School blog</a>
      <form class="d-flex"  role="search">
        <input class="form-control me-2" type="search" id="searchQuery" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="button" onclick="search()">Search</button>
      </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <nav class="navbar bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.adblog') }}">Create a blog</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.first_name }}</a>
              <small class="text-muted">{{ post.created_at.strftime('%Y-%m-%d') }}</small>
              {% if post.author == current_user %}
              <div>
                <a class="btn btn-secondary btn-sm m-l" href="{{ url_for('views.updatepost', post_id=post.blog_id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-l" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
              {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('views.delete_post', post_id=post.blog_id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
    </div>
</div>

{% endblock %}
