{% extends "base.html" %}
{% block title %}Students{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/forms.css">
<script src="../static/script/redirect.js"></script>
<h2>Students</h2>
<div class="table-wrapper">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Subjects</th>
            <th>Grades</th>
            <th>Average Grade</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ student.name }}</td>
            <td>
                {% for subject in student.subjects %}
                {{ subject.name }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </td>
            <td>
                {% set student_grades = [] %}
                {% for grade in grades %}
                {% if grade.student_id == student.student_id %}
                {% set _ = student_grades.append(grade.grade|float) %}
                {{ grade.grade }}{% if not loop.last %}<br>{% endif %}
                {% endif %}
                {% endfor %}
            </td>
            <td>{{ student.average_grade }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-outline-secondary btn-lg" href="{{ url_for('views.adstudent') }}">Add students</a>
<a class="btn btn-outline-secondary btn-lg" href="{{ url_for('views.delstudent') }}">Delete students</a>
<a class="btn btn-outline-secondary btn-lg" href="{{ url_for('views.upstudent') }}">Update students</a>

{% endblock %}
