{% extends "base.html" %}
{% block title %}Update Subject{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Update subject</h3>
    <div class="form-group">
        <label for="name">Subject name</label>
        <input required type="text" class="form-control" id="name" name="name" placeholder="Enter subject name">
    </div>
    <div class="form-group">
        <label for="subject_id">Subject ID</label>
        <input required type="text" class="form-control" id="subject_id" name="subject_id" placeholder="Enter subject ID">
    </div>
    <div class="form-group">
        <label for="teacher_fname">Teacher first name</label>
        <input required type="text" class="form-control" id="teacher_fname" name="teacher_fname" placeholder="Enter teacher first name">
    </div>
    <div class="form-group">
        <label for="teacher_lname">Teacher last name</label>
        <input required type="text" class="form-control" id="teacher_lname" name="teacher_lname" placeholder="Enter teacher last name">
    </div>
    <div class="form-group">
        <label for="student_fname">Student first name</label>
        <input required type="text" class="form-control" id="student_fname" name="student_fname" placeholder="Enter student first name">
    </div>
    <div class="form-group">
        <label for="student_lname">Student last name</label>
        <input required type="text" class="form-control" id="student_lname" name="student_lname" placeholder="Enter student last name">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update Subject</button>
</form>

{% endblock %}